.fd {
    display: flex;
    flex-direction: row-reverse;
}

// .jcsb-aic {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// .jcc-aic {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin pad {
    @media(max-width: 768px) {
        @content
    }
}