.mt-2 {
    margin-top: 16px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.pb-2 {
    padding-bottom: 16px;
}

.ptb-5 {
    padding: 40px 0;
}

.pl-1 {
    padding-left: 8px;
}

.p-60 {
    padding: 60px;
    @include mobile {
        padding: 32px 0;
    }
}

.mt-52 {
    margin-top: 52px;
}

.mtb-20 {
    margin: 20px 0px;
}

.ml-20 {
    margin: 0 0 0 20px;
}

img {
    max-width: 100%;
}

.fz-5-white {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    line-height: 60px;
}

.fz-2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 200;
}

.fz-3 {
    font-size: 24px;
    line-height: 36px;
}

.fz-4 {
    font-size: 32px;
    line-height: 48px;
}

.fz-5 {
    font-size: 40px;
}

.fz-20 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
}

.fz-20-white {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    color: #fff;
}

.fz-2-golden {
    font-size: 16px;
    color: $brown;
    line-height: 24px;
    padding: 0 0 2px 0;
    &:hover {
        border-bottom: 2px solid $brown;
        cursor: pointer;
    }
}

.fz-4-gray {
    font-size: 32px;
    color: $darkGray;
    line-height: 48px;
}

.boldTitle {
    font-weight: bold;
}

.bbl {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #818A91;
}

.fz-4-gray {
    font-size: 32px;
    color: $darkGray;
    line-height: 48px;
}