.addLike,
.addCart {
    display: none;
}

.bgbk {
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    background: #00000080;
    position: fixed;
    span {
        padding: 17px 200px;
        background: #fff;
        color: $brown;
        border-radius: 4px;
    }
}

.perfumeAll {
    @include mobile {
        display: none;
    }
    // @include mobile {
    //     width: 80px;
    //     @include flex(row, space-between, center);
    // }
    background: $brown;
    padding: 14px 0;
    margin: 0 0 80px;
    ul {
        @include flex(row, flex-start, center);
        a {
            color: #FFFFFF;
            margin: 0 28px 0 0;
            font-size: 20px;
            text-decoration: none;
            &:hover {
                filter: opacity(0.5);
            }
        }
    }
}

.productList {
    flex-wrap: wrap;
    @include flex(row, space-between, top);
    li {
        width: 24.5%;
        margin: 0 0 58px;
        @include mobile {
            width: 49%;
            margin: 0 0 30px;
        }
        h3 {
            font-size: 24px;
            @include mobile {
                font-size: 20px;
            }
        }
        img {
            width: 255px;
            height: 255px;
            object-fit: cover;
            object-position: center;
            @include mobile {
                width: 165px;
                height: 165px;
            }
        }
        span {
            margin: 0 0 0 8px;
            color: $darkGray;
            text-decoration: line-through;
        }
        i {
            margin: 2px 11px 0 0;
            font-size: 20px;
            color: $brown;
            cursor: pointer;
            &:hover {
                filter: opacity(0.5);
            }
        }
    }
}

.page {
    @include flex(row, center, top);
    a {
        color: #000;
        padding: 0 5px;
        margin: 0 4px;
        text-decoration: none;
        &:hover {
            color: $brown;
            border-bottom: 2px solid $golden;
        }
    }
    .underline {
        color: $brown;
        border-bottom: 2px solid $golden;
    }
}