.banner {
    color: #fff;
    height: 840px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index1.jpg?raw=true");
    @include mobile {
        height: 580px;
        background-size: cover;
        background-position-x: -160px;
    }
    .container {
        @include flex(row,
        flex-end,
        row-reverse);
    }
    .content {
        max-width: 445px;
        padding-top: 20%;
        @include mobile {
            text-shadow: 1px 1px 3px #00000047;
        }
        .btn-wh {
            color: #fff;
            font-size: 28px;
            border: 2px solid #fff;
            border-radius: 37px;
            padding: 13px 109px;
            background: none;
            @include mobile {
                padding: 13px 100px;
            }
            &:hover {
                cursor: pointer;
                color: $darkGray;
                background: #fff;
                transition: .4s;
            }
        }
    }
}

.perfumeIntro {
    display: flex;
    @include mobile {
        @include flex(column,
        space-between,
        center);
        padding: 20px 0;
    }
    .img {
        width: 50%;
        height: 555px;
        @include mobile {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }
    .largeImg {
        width: 50%;
        height: 1080px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index5.jpg?raw=true");
        @include mobile {
            width: 100%;
        }
    }
    section {
        @include flex(row,
        center,
        center);
        width: 50%;
        @include mobile {
            width: 100%;
        }
        .textContent {
            max-width: 350px;
        }
        .btn-bk {
            border: 2px solid #000;
            border-radius: 37px;
            padding: 8px 40px;
            background: #ffffff;
            &:hover {
                cursor: pointer;
                color: #fff;
                background: #000;
                transition: .4s;
            }
        }
        a {
            text-decoration: none;
        }
    }
}

.onSale {
    background: $lightGray;
    .saleProsduct {
        @include flex(row,
        space-between,
        top);
        @include mobile {
            @include flex(column,
            space-between,
            center);
        }
        li {
            max-width: 32%;
            @include mobile {
                max-width: 100%;
                padding: 0 0 32px 0;
            }
            img {
                height: 540px;
                @include mobile {
                    width: 100%;
                    height: auto;
                }
            }
            .price {
                color: $darkGray;
                text-decoration: line-through;
            }
            .dark {
                // mix-blend-mode: darken;
                filter: contrast(0.4);
            }
            .soldOut {
                color: #ffffff;
                position: absolute;
                z-index: 1;
                padding: 252px 130px;
                @include mobile {
                    padding: 55% 30%;
                }
            }
        }
    }
}

.articleRow {
    @include mobile {
        @include flex(column,
        flex-start,
        center);
    }
    @include flex(row,
    space-between,
    center);
    .img {
        width: 65.66%;
        @include mobile {
            width: 100%;
            height: 520px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index9.jpg?raw=true");
        }
        img {
            @include mobile {
                display: none;
            }
        }
    }
    section {
        max-width: 32.33%;
        @include mobile {
            max-width: 100%;
        }
    }
}